body {
    font-family: 'Arial', monospace;
    background-color: #f0f0f0;
    font-weight: 500;
    color: #333;
    margin: 0;
    line-height: 1.2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #006;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.goback {
    padding: 5px;
    background-color: #a8a8a8;
}
